@import url('../fonts/fonts.css');

html, body {
  font-family: 'avenir' !important;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #f8f8f8 !important;
  overflow: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#name {
  color: #D7D7D7;
  letter-spacing: 2vw;
  padding-top: 10%;
}

.text {
  font-size: 1.5em;
}

.content {
  position: relative;
  justify-content: center;
  align-items: center;
  height: 60%;
  min-height: 20vh;
}


img {
  max-height: 50vh;
  max-width: 100%;
  height: auto;
  object-fit: scale-down;
}

#caption {
  max-width: 100%;
  word-wrap: break-word;
  font-size: 1em;
}

.darkgray {
  color: #9E9E9E;
}

.gray {
  color: #D7D7D7;
}

.page {
  letter-spacing: 0.8vw;
  color: #D7D7D7;
}

.page.active {
  opacity: 0.6;
}

.page:hover {
  opacity: 0.6;
  text-decoration: none;
}

.subpage-link {
  font-weight: normal;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: inherit!important;
}

.footer {
  text-align: center;
  padding-top: 40px;
  padding-bottom: : 20px;
  padding-left: 0px;
  color: #A6A6A6;
}

.footer-bg {
  background-color: #FFFFFF;
  height: 70px;
}
